body {
  margin: 10px;
  white-space: nowrap;
}

h1 {
  font-size: 15px;
}

#container { 
  margin: 20px;
  white-space: nowrap;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .github-loc {
    font-size: 14px;

    .loc-header {
      border-bottom: 1px solid #e7eaec;
      margin-top: -15px;

      h2 {
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        color: #676a6c;
      }
  
      .loc-desc {
        color: #676a6c;
      }
    }

    .loc-content {
      padding: 20px;
      font-size: 14px;
      line-height: 1.5em;
      text-align: center;

      .loc-content-message {
        text-align: center;
        color: #ed5565;
        margin: 0;
      }

      .loc-item {
        width: 100%;
        text-align: left;
        line-height: 24px;
        
        label {
          width: 60%;
          color: #676a6c;
          display: inline-block;
          text-align: left;
        }

        span {
          color: #293846;
        }
      }
    }

    .border-top {
      border-top: 1px solid #e7eaec;
      padding-top: 25px;
      padding-bottom: 5px;
    }

    .loc-footer {
      // width: 100%;
      // margin-top: 20px;

      button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        font-size: 14px;
        background-color: #1ab394;
        border-color: #1ab394;
        color: #FFFFFF;
        padding-bottom: 5px;
        display: inline;
        float: left;
        margin-right: 10px;
      }

      .footer-disabled {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #1ab394;
      }

      .loc-footer-date {
        display: inline;
        line-height: 30px;
        margin-top: 5px;
        font-size: 12px;
        color: #676a6c;
        font-size: 12px;
        float: left
      }
    }
  }
}
